.thead-dark th{
    background-color:orange;
}

.table-hover:hover{
    color: #cecece;
}

table{
    border: 1px solid black;
}

.mr-5{
    left: 91%;
    position: relative;
}

.mb-3{
    left: 93%;
    position: relative;
}