<!--Header Efisio-->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand logo-img" href="#">
            <img src="/assets/img/academy.png" alt="logo"
            class="logo-img">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- background image -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-left">
                <div class="margin-text-app">
                    <h2 class="font-weight-light text-white covid-text">covid-<span class="h1 _21-text">21</span>
                    </h2>
                    <hr class="logo-divider">
                    <h1 class="text-white h1 tracker-text">&nbsp;Tracker</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- claim spacer -->
<!-- <div class="text-center" id="claim-div">
    <i class="fas fa-quote-left fa-xs"></i>
    <span class="text-claim">Together we fight against COVID</span>
    <i class="fas fa-quote-right fa-xs"></i>
</div> -->