<!-- Navigation -->
<nav id="background"  class="navbar navbar-expand-lg navbar-light shadow fixed-top">
    <img id="resize" src="/assets/img/a.jpg" alt="logo" class="logo-img">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <button class="btn btn-outline-danger mb-3 logout" (click)="logout()">Esci</button>
            </ul>
        </div>
    </div>
</nav>

<!-- background image -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-left">
                <div class="margin-text-app">
                    <h2 class="font-weight-light covid-text">
                        <span >
                          <i><b>Covid-</b></i>  <span class="h1 _21-text">19</span>
                        </span>
                    </h2>
                    <hr class="logo-divider">
                    <h1 class="text h1 tracker-text">&nbsp;Travel</h1>
                </div>
            </div>
        </div>
    </div>
</header>