<nav id="background" class="navbar navbar-expand-lg navbar-light shadow fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand logo-img">
            <img  src="/assets/img/a.jpg" alt="logo" class="logo-img">
        </a>
        <div class="dropdown" >
            <i id="icona" class="far fa-caret-square-down"></i>
            <div class="dropdown-content ">
                <a [routerLink]='["/homepage"]'> <i class="fas fa-home "> </i> Homepage </a>
                <a (click)="logout()"> <i class="fas fa-door-open"> </i> Esci </a>
            </div>
        </div>
    </div>
</nav>



<!-- background image -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-left">
                <div class="margin-text-app">
                </div>
            </div>
        </div>
    </div>
</header>