<app-headerlogin></app-headerlogin>


<div class="row p-4 my-2 mx-1 border shadow">
  <p>Quante volte negli ultimi mesi hai pensato di voler fare le valigie e partire chissà dove perchè la tua
    la tua natura di esploratore --- Poi però hai accantonato l'idea perché
    "C'è il Covid..." oppure "Chissà che situazione troverei in quel determinato luogo"... 
    quindi valigia disfatta e riposta nello sgabuzzino. <br>
    Capiamo come ti senti e abbiamo pensato di creare uno strumento utile ad un viaggiatore
    come te. Semplicemente registrandoti ed accedendo al sito " Covid-21 Travel" potrai avere le informazioni di cui
    hai bisogno per pianificare il tuo viaggio o anche solo per sapere come si sta dall'altra parte del mondo!
  </p>
  <!--<img src="/assets/img/donnainviaggio.jpg" alt="Siii viaggiare!">-->
  <button id="enter-btn" class="btn btn-primary border shadow" onclick="document.getElementById('id01').style.display='block'
    " style="width:auto;">Per iniziare clicca qui!</button>
</div>

<div id="id01" class="modal">
  <form class="modal-content animate" action="/action_page.php" method="post" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="nomeUtente"><b>Nome</b></label>
      <input type="text" placeholder="Nome" id="nomeUtente" required [(ngModel)]="nomeUtente" name="nomeUtente">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Password" id="password" required [(ngModel)]="password" name="password">
      <button class="btn btn-primary border shadow" type="submit" [disabled]="!loginForm.valid">Accedi!</button>
      <h6>Oppure</h6>
      <button class="btn btn-warning border shadow" id="registrati" type="submit"
        [routerLink]='["/registrazione"]'>Nuovo account?Registrati!</button>
    </div>
  </form>
</div>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/dolomiti.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>Non ci sono terre straniere. Il viaggiatore è il solo straniero.</h3>
      <p>(Robert Louis Stevenson)</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/immagineprova.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Talvolta è meglio perdersi sulla strada di un viaggio impossibile che non partire mai.</h3>
      <p>(Giorgio Faletti)</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/newyorkcity2.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Se potessi rivivere la mia vita, nella prossima correrei più rischi, farei più viaggi, guarderei più tramonti.
      </h3>
      <p>(Jorge Luis Borges)</p>
    </div>
  </ng-template>
</ngb-carousel>