<app-headerlogin> </app-headerlogin>
<br>
<div id="ombra" class=" row container  ">
  <i>
    <p> Quante volte negli ultimi mesi hai pensato di voler fare le valigie e partire chissà dove perché 
      la tua anima da esploratore è rimasta ingabbiata troppo a lungo a causa della pandemia?
       Quante volte in passato ti è capitato di visitare dei luoghi senza però tenere traccia di ciò 
       che hai visto? Il team degli INDECISI ha pensato proprio a te e ha sviluppato un'applicazione
        web che sia in grado di registrare luoghi, monumenti, città e spiagge che hai visto durante 
        i tuoi viaggi. Oltre a questo, vista la situazione pandemica attuale, per supportarti  
        nel caso in cui dovessi decidere di partire in questo periodo così delicato abbiamo 
        integrato un sistema che ti mostra la situazione pandemica mondiale in grado di offrirti 
        anche una valutazione del rischio se hai già registrato  un punto di interesse e vuoi andare a rivisitarlo.
    <p id="premessa"> Non ti resta che chiudere la valigia, allacciare le cinture e cominciare a navigare nel tuo nuovo
      diario di bordo !</p>
  </i>
</div>
<div id="button">
  <button id="enter-btn" class="btn btn-warning border shadow" type="button" onclick="document.getElementById('id01').style.display='block'
">Per iniziare clicca qui!</button>
</div>
<div id="id01" class="modal">
  <form class="modal-content animate" action="/action_page.php" method="post" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label for="nomeUtente"><b>Nome</b></label>
      <input type="text" placeholder="Nome" id="nomeUtente" required [(ngModel)]="nomeUtente" name="nomeUtente">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Password" id="password" required [(ngModel)]="password" name="password">
      <button class="btn btn-primary border shadow" type="submit" [disabled]="!loginForm.valid">Accedi!</button>
      <h6>Oppure</h6>
      <button class="btn btn-warning border shadow" id="registrati" type="submit"
        [routerLink]='["/registrazione"]'>Nuovo account? Registrati!</button>
    </div>
  </form>
</div>
