<app-headerlogin></app-headerlogin>


<div class="row p-4 my-2 mx-1 border shadow">
  <i><p > Quante volte negli ultimi mesi hai pensato di voler fare le valigie e partire chissà dove perchè la tua
     natura di esploratore è rimasta troppo ingabbiata a causa della pandemia? E ancora, quante volte hai visitato dei luoghi
    o dei punti di interesse specifici senza tenere traccia di ciò che hai visto? Il team degli INDECISI ha pensato a questa tua problematica
    cercando di creare un'applicazione web che sia in grado di registrare i  luoghi, monumenti e spiagge  che hai visto
    durante i tuoi viaggi. In tuo supporto abbiamo inoltre integrato un sistema che ti fa vedere la situazione pandemica mondiale o
    ancora che ti da una valutazione del rischio se hai gia registrato un determinato punto di interesse e vuoi andare a rivisitarlo.
   <p id="premessa"> Non ti resta che chiudere la valigia, allacciare le cinture e cominciare a navigare nel tuo nuovo diario di bordo !</p></i>

  <!--<img src="/assets/img/donnainviaggio.jpg" alt="Siii viaggiare!">-->
 
</div>


<div>
<button id="enter-btn" class="btn btn-primary border shadow" onclick="document.getElementById('id01').style.display='block'
" style="width:auto;">Per iniziare clicca qui!</button>
</div>

<div id="id01" class="modal">
  <form class="modal-content animate" action="/action_page.php" method="post" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    </div>
  
    <div class="container">
      <label for="nomeUtente"><b>Nome</b></label>
      <input type="text" placeholder="Nome" id="nomeUtente" required [(ngModel)]="nomeUtente" name="nomeUtente">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Password" id="password" required [(ngModel)]="password" name="password">
      <button class="btn btn-primary border shadow" type="submit" [disabled]="!loginForm.valid">Accedi!</button>
      <h6>Oppure</h6>
      <button class="btn btn-warning border shadow" id="registrati" type="submit"
        [routerLink]='["/registrazione"]'>Nuovo account?Registrati!</button>
    </div>
  </form>
</div>


<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/dolomiti.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
     
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/immagineprova.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
     
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/newyorkcity2.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>
<br>