
.thead-dark th{
    background-color:orange;
}

.table-hover:hover{
    color: #cecece;
}


#refresh{
    position: relative;
    left: 62%;
}

#moveback{
    position: relative;
    left: 78%;
}

#move{
    padding-top: 15px;
}
