.pointer{
    cursor: pointer;
}

.thead{
    background-color:orange;
    color: white;
}

#cornertl{
    border-top-left-radius: 5px;
    border-top: none;
}

#cornertr{
    border-top-right-radius: 5px;
    border-top: none;
}

.table-hover:hover{
    color: #dfdfdf;
}

th{
    border-top: none;
}

#linea{
    border-top: 1px  solid #dee2e6;
}

tbody{
    border: 1px solid lightgray;
}

h1{
    font-style: italic;
    font-size: 4rem;
    font-weight: 600;
}

.fa-info-circle{
    display: inline-block;
    width: 100%;
    padding-right: 15px;
}
#center{
    text-align: center;
}

.add{
    position:relative;
    right: 30%;
}

.filter{
    position:relative;
    right: 21%;
}

.sort{
    position:relative;
    right: 9%;
}

h3{   
    text-align: center;
}

