<app-header></app-header>

<div class="container p-5">
  
  <i><h3>Elenco dei tuoi POI</h3></i>
  <br>
  <div class="text-right">
    <button (click)='showContent()' class="menu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
       <svg width="30" height="30" viewBox="0 0 100 100">
        <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
        <path class="line line2" d="M 20,50 H 80" />
        <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
      </svg> 
    </button>
  <br>
  <br>

  <div class="text-right" *ngIf='variable'>
    <a class="add "[routerLink]='["/add"]'><i class="fas fa-globe-europe mb-3 "></i> Aggiungi una destinazione</a>  
    <a class="filt" [routerLink]='["/filterdouble"]'><i class="fas fa-filter " ></i> Filtra i tuoi POI</a> 
    <a class="order" [routerLink]='["/sortBy"]'><i class="fas fa-sort-alpha-up " ></i> Ordina i tuoi POI</a> 
    <a clasS="api"  [routerLink]='["/apicorona"]'><i class="fas fa-viruses "></i> Situazione Pandemica globale</a>   
  </div >
  <div class="table-responsive-md">
  <table class="table  table-hover text-center ">
    <thead class="thead">
      <tr>
        <th id="cornertl" scope="col">#</th>
        <th scope="col">Latitudine</th>
        <th scope="col">Longitudine</th>
        <th scope="col">Nome POI</th>
        <th scope="col">Tipo POI</th>
        <th scope="col">Ingresso</th>
        <th scope="col">Valutazione</th>
        <th id="cornertr" scope="col">Info</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer" *ngFor="let entry of arrayInterfacciaPoi ; let i = index" (click)="goToDetails(entry.id)">
        <th id="linea" scope="row"> {{i + 1}}</th>
        <td>{{entry.latitudine}}</td>
        <td>{{entry.longitudine}}</td>
        <td>{{entry.nomePoi}}</td>
        <td>{{entry.tipoPoi}}</td>
        <td>{{entry.ingresso}}</td>
        <td>{{entry.valutazione}}</td>
        <td id="center"><i class="fas fa-info-circle"></i></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
