.pointer{
    cursor: pointer;
}

.thead-dark th{
    background-color:orange;
}

.table-hover:hover{
    color:#cecece;
}

table{
    border: 1px solid black;
}


h1{
    font-style: italic;
    font-size: 4rem;
    font-weight: 600;
}


.fa-info-circle{
    display: inline-block;
    width: 100%;
    padding-right: 15px;
}
#center{
    text-align: center;
}

.add{
    position:relative;
    right: 30%;
}

.filter{
    position:relative;
    right: 21%;
}

.sort{
    position:relative;
    right: 9%;
}

h3{
    
    text-align: center;
}