<app-header></app-header>

<div class="container p-5">
  <i><h3>Elenco dei tuoi POI</h3></i>
  <br>
  <table class="table table table-hover border shadow">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Latitudine</th>
        <th scope="col">Longitudine</th>
        <th scope="col">Nome POI</th>
        <th scope="col">Tipo POI</th>
        <th scope="col">Ingresso</th>
        <th scope="col">Valutazione</th>
        <th scope="col">Info</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer" *ngFor="let entry of arrayInterfacciaPoi ; let i = index" (click)="goToDetails(entry.id)">
        <th scope="row"> {{i + 1}}</th>
        <td>{{entry.latitudine}}</td>
        <td>{{entry.longitudine}}</td>
        <td>{{entry.nomePoi}}</td>
        <td>{{entry.tipoPoi}}</td>
        <td>{{entry.ingresso}}</td>
        <td>{{entry.valutazione}}</td>
        <td id="center"><i class="fas fa-info-circle"></i></td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <button class="btn btn-outline-info mb-3 add" [routerLink]='["/add"]'>Aggiungi una destinazione</button>
    <button class="btn btn-outline-info mb-3 filter" [routerLink]='["/filterdouble"]'>Filtra i tuoi
      POI</button>
    <button class="btn btn-outline-info mb-3 sort " [routerLink]='["/sortBy"]'>Ordina i tuoi POI</button>
    <button class="btn btn-outline-info mb-3 api " [routerLink]='["/apicorona"]'>Situazione Pandemica
      Globale</button>
  </div>
</div>