.container{
    padding-top:20px;
}

agm-map{
    
    height: 300px;
    width: 100;
}


.thead-dark th{
    background-color:orange;
}

.table-hover:hover{
    color: orange;
}

.mr-5{
    border-radius: 20px;
    position: relative;
    left: 2%;
}

.ml-3{
    border-radius: 20px;
    color:white;
}

.ml-5{
    border-radius: 20px;
}

.coloreBackground{
    background-image: url("/assets/img/prova.jpg");
    background-position: center;
    background-size: cover;
}

#small{
    padding:10px 0px 2px 0px ;
    background-color:black;
    border-radius:20px;
    padding-top: 1px; 
}
#testo{
  text-align: center;
}