.container{
    padding-top:20px;
}

agm-map{
    
    height: 300px;
    width: 100;
}



.coloreBackground{
    background-image: url("/assets/img/prova.jpg");
    background-position: center;
    background-size: cover;
}

#small{
    padding:10px 0px 2px 0px ;
    background-color:black;
   
    padding-top: 1px; 
}
#testo{
  text-align: center;
}



.thead{
    background-color:orange;
    color: white;
}

#cornertl{
    border-top-left-radius: 5px;
    border-top: none;
}

#cornertr{
    border-top-right-radius: 5px;
    border-top: none;
}

th{
    border-top: none;
}

.linea{
    border-top: 1px  solid #dee2e6;
}

tbody{
    border: 1px solid lightgray;
}

.spazio{
    margin-right: 1%;
}

