<app-header></app-header>

<br>
<div *ngIf="dataEntry != null" class="container">
  <i>
    <h3 id="testo">Il tuo POI si trova in: {{ nomePaese }}</h3>
  </i>
  <agm-map [latitude]="latitudine" [longitude]="longitudine" [zoom]="zoom" [mapTypeId]="mapTypeId">
    <agm-marker [latitude]="latitudine" [longitude]="longitudine">
      <agm-info-window>
        <h3>Nation Name: {{ nomePaese }}</h3>
        <p>Capital :{{ capitale }}</p>
        <p>Region :{{ regione }}</p>
        <p>Population :{{ popolazione }}</p>
        <p>Code :{{ code }}</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <div class="mt-5 p-4">
    <i>
      <h3>Dettagli del Punto di interesse inserito :</h3>
    </i>
    <div id="small">
    </div>
    <br>
    <ul class="list-group">
      <li class="list-group-item">Id: {{ dataEntry.id }}</li>
      <li class="list-group-item">Latitudine: {{ dataEntry.latitudine }}</li>
      <li class="list-group-item">Longitudine: {{ dataEntry.longitudine }}</li>
      <li class="list-group-item">Nome POI: {{ dataEntry.nomePoi }}</li>
      <li class="list-group-item">Tipo POI: {{ dataEntry.tipoPoi }}</li>
      <li class="list-group-item">Ingresso: {{ dataEntry.ingresso }}</li>
      <li class="list-group-item">Valutazione: {{ dataEntry.valutazione }}</li>
    </ul>
    <br>
    <button class="btn btn-outline-danger  float-right" (click)="delete()">Cancella</button>
    <button class="btn btn-outline-success float-right spazio"
      [routerLink]="['/edit/' + dataEntry.id]">Modifica</button>
  </div>
  <br>
  <br>
  <i>
    <h3>Situazione attuale covid : {{nomePaese}}</h3>
  </i>
  <div id="small">
  </div>
  <br>
  <div class="table-responsive-md">
    <table class="table text-center table-hover">
      <thead class="thead">
        <tr>
          <th id="cornertl" scope="col">Nazione</th>
          <th scope="col">Totale Morti</th>
          <th scope="col">Casi totali confermati</th>
          <th scope="col">Tasso di mortalità</th>
          <th scope="col">Casi per milioni di abitanti</th>
          <th scope="col">Ultimo aggiornamento</th>
          <th id="cornertr" scope="col">Grado di rischio</th>
        </tr>
      </thead>
      <tbody>
        <tr class="pointer">
          <th class="linea" scope="row"> {{nazione}}</th>
          <td>{{morti}}</td>
          <td>{{totCasi}}</td>
          <td>{{tassoMortalita | number: '1.1-2'}} %</td>
          <td>{{casiAbitanti}} </td>
          <td>{{aggiornamento | date: 'd/M/yy , h:mm a' }} </td>
          <td>{{rischio}} </td>
        </tr>
    </table>
  </div>
  <button class="btn btn-outline-info float-right " [routerLink]="['/dashboard']">Indietro </button>
</div>
<br>
<br>
