.thead-dark th{
    background-color:orange;
}

.table-hover:hover{
    color: #cecece;
}

table{
    border: 1px solid black;
}

.mr-5{
    position: relative;
    left: 91%;
} 

.mb-3{
    position: relative;
    left:94%;
}