<app-header></app-header>

<div class="container p-5">
 
    <button class="btn btn-outline-info float-right " [routerLink]="['/dashboard']">Indietro</button>

  <form class="pt-5" #form="ngForm">
    <div class="form-group row">
      <label for="nomePoi" class="col-sm-2 col-form-label">Nome POI</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nomePoi" required name="nomePoi" [(ngModel)]="nomePoi">
      </div>
    </div>
    <div class="form-group row">
      <label for="valutazione" class="col-sm-2 col-form-label">Valutazione</label>
      <div class="col-sm-10">
        <select class="form-control" id="valutazione" required [(ngModel)]="valutazione" name="valutazione">
          <option [value]="valutation" *ngFor="let valutation of arrayValutazioni">
            {{valutation}}
          </option>
        </select>
      </div>
    </div>
  </form>
  <button class="btn btn-outline-success mb-3 float-right " (click)="filterBy(form)">Filtra</button>
  <div class="table-responsive-md">
  <table class="table text-center table-hover" *ngIf="showResult">
    <thead class="thead">
      <tr>
        <th id="cornertl" scope="col">Latitudine</th>
        <th scope="col">Longitudine</th>
        <th scope="col">Nome POI</th>
        <th scope="col">Tipo POI</th>
        <th scope="col">Ingresso</th>
        <th id="cornertr" scope="col">Valutazione</th>
      </tr>
    </thead>
    <tbody>
      <tr class="linea" class="pointer" *ngFor="let entry of arrayInterfacciaPoi 
          | filtronomevalutazione : nomePoi : valutazione">
        <td>{{entry.latitudine}}</td>
        <td>{{entry.longitudine}}</td>
        <td>{{entry.nomePoi}}</td>
        <td>{{entry.tipoPoi}}</td>
        <td>{{entry.ingresso}}</td>
        <td>{{entry.valutazione}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>