<app-header></app-header>

<br>
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/dolomiti.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/immagineprova.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/newyorkcity2.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>
<br>

<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle dashboard " width="140" height="140"></svg>
      <h2>Elenco Punti d'interesse inseriti</h2>
      <p>Some representative placeholder content for the three columns of text below the carousel. This is the first
        column.</p>
      <p><a class="btn btn-secondary" href="dashboard">Accedi all'elenco di POI memorizzati &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle add " width="140" height="140"></svg>
      <h2>Aggiungi un Punto d'interesse </h2>
      <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
      <p><a class="btn btn-secondary" href="add">Inserisci un nuovo POI &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle covid " width="140" height="140"></svg>
      <h2>Situazione pandemica mondiale</h2>
      <p>And lastly this, the third column of representative placeholder content.</p>
      <p><a class="btn btn-secondary" href="apicorona">Visualizza la situazione pandemica mondiale &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->