<app-header></app-header>
<br>

<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
   <!-- Three columns of text below the carousel -->
  <div class="row ">
    <div id="ombra" class="col-lg-3 ">
      <svg class="bd-placeholder-img rounded-circle dashboard " width="140" height="140"></svg>
      <h5>Elenco Punti d'interesse inseriti</h5>
      <i>
        <p>Se vuoi accedere ai tuoi punti di interesse clicca qui sotto</p>
      </i>
      <p><button class="btn btn-outline-info" [routerLink]="['/dashboard']">Accedi all'elenco dei punti di interesse memorizzati
          &raquo;</button></p>
    </div><!-- /.col-lg-4 -->
    <div id="ombra" class="col-lg-3  ">
      <svg class="bd-placeholder-img rounded-circle add " width="140" height="140"></svg>
      <h5>Aggiungi un Punto d'interesse </h5>
      <i>
        <p>Se vuoi registrare un nuovo POI <br> clicca qui sotto</p>
      </i>
      <p><button class="btn btn-outline-info" [routerLink]="['/add']">Inserisci un nuovo Punto di interesse &raquo;</button></p>
    </div><!-- /.col-lg-4 -->
    <div id="ombra" class="col-lg-3  ">
      <svg class="bd-placeholder-img rounded-circle covid " width="140" height="140"></svg>
      <h5>Situazione pandemica mondiale</h5>
      <i>
        <p>Se vuoi visualizzare i dati covid mondiali  clicca qui sotto </p>
      </i>
      <p><button class="btn btn-outline-info" [routerLink]="['/apicorona']">Visualizza la situazione mondiale &raquo;</button>
      </p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <br>