
<!--Prima colonna-->
<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Covid-21 Travel</h5>
        <p class="mb10"><i class="fa fa-heart"> </i> Progettato dal Team "Gli indecisi", dedicato a chi ama viaggiare </p>
        <p><i class="fa fa fa-envelope"> </i> ouremail@something.com</p>
      </div>
 
      <!--Seconda colonna-->
      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Link utili</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="https://dspmi.uniroma1.it/">Dipartimento di Sanità Pubblica e Malattie Infettive - UniRoma 1</a>
          </li>
          <li><a href="https://www.esteri.it/mae/it/ministero/normativaonline/decreto-iorestoacasa-domande-frequenti/focus-cittadini-italiani-in-rientro-dall-estero-e-cittadini-stranieri-in-italia.html">
            Ministero degli Affari Esteri e della Cooperazione Internazionale</a></li>
          <li><a href="http://www.salute.gov.it/nuovocoronavirus">Ministero della Salute - Nuovo CoronaVirus-19</a></li>
          <li><a href="http://www.salute.gov.it/portale/nuovocoronavirus/dettaglioFaqNuovoCoronavirus.jsp?id=228&lingua=italiano">Che
              cos'è il nuovo coronavirus</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>      
    </div>
    <br>
    <p id="font-8pt">Siti Istituzionali di riferimento <a href="https://dspmi.uniroma1.it/"> Dipartimento di Sanità Pubblica e Malattie Infettive
        dell'Università degli Studi "La Sapienza" - Roma</a> |
      <a href="https://www.aifa.gov.it/">AIFA Agenzia Italiana del Farmaco</a> |
      <a href="http://www.salute.gov.it/nuovocoronavirus">Ministero della Salute - Nuovo CoronaVirus-19</a> |
      <a href="http://www.salute.gov.it/portale/nuovocoronavirus/dettaglioFaqNuovoCoronavirus.jsp?id=228&lingua=italiano">Ministero
        della Salute - Che cos'è il nuovo coronavirus</a> |
  </div>
 
  <div class="container">
    <!--foote_bottom_ul_amrc ends here-->
    <br>
    <p class="text-center">"Gli Indecisi" @2021</p>
  </div>
 
</footer>