<!--Prima colonna-->
<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Covid-19 Travel</h5>
        <p class="mb10"><i class="fa fa-heart"> </i> Progettato dal Team "Gli indecisi", dedicato a chi ama viaggiare
        </p>
        <p><i class="fa fa fa-envelope"> </i> ouremail@something.com</p>
        <a [routerLink]='["/homepage"]'><i class="fas fa-home"></i></a>
        <a target="_blank" href="https://www.facebook.com/DPCgov/"><i class="fab fa-facebook-square"></i></a>
        <a target="_blank"
          href="http://www.salute.gov.it/portale/nuovocoronavirus/dettaglioContenutiNuovoCoronavirus.jsp?lingua=italiano&id=5364&area=nuovoCoronavirus&menu=vuoto&gclid=Cj0KCQiA-aGCBhCwARIsAHDl5x9wA569emuuAswDnLImaQdsBb27EPfaC5FmiPA_OQqRHDZFhXXAgHUaAnogEALw_wcB"><i
            class="fas fa-phone-square"></i></a>
      </div>

      <!--Seconda colonna-->
      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Link utili</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a target="_blank" href="http://www.italia.it/it/home.html">Agenzia Nazionale Turismo Italia</a>
          </li>
          <li><a target="_blank" href="http://www.viaggiaresicuri.it/">
              Viaggiare Sicuri</a></li>
          <li><a target="_blank" href="https://www.skyscanner.it/">SkyScanner</a></li>
          <li><a target="_blank" href="https://www.assicurazionediviaggio.it/allianz/">Allianz Assicurazione Viaggio</a>
          </li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>

    </div>
    <br>
    <p id="font-8pt">Siti Istituzionali di riferimento <a target="_blank" href="https://dspmi.uniroma1.it/">
        Dipartimento di Sanità Pubblica e Malattie Infettive
        dell'Università degli Studi "La Sapienza" - Roma</a> |
      <a target="_blank" href="https://www.aifa.gov.it/">AIFA Agenzia Italiana del Farmaco</a> |
      <a target="_blank" href="http://www.salute.gov.it/nuovocoronavirus">Ministero della Salute - Nuovo
        CoronaVirus-19</a> |
      <a target="_blank"
        href="http://www.salute.gov.it/portale/nuovocoronavirus/dettaglioFaqNuovoCoronavirus.jsp?id=228&lingua=italiano">Ministero
        della Salute - Che cos'è il nuovo coronavirus</a> |
  </div>
  <div id="small">
    <div class="container">
      <!--foote_bottom_ul_amrc ends here-->
      <div>
        <p id="noopacity" class="text-center">"Gli Indecisi" @2021</p>
      </div>
    </div>
  </div>
</footer>