<!--Footer Gabriel: -->
<!--Prima colonna-->
<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Covid-21 Tracker</h5>
        <p class="mb10">Progettato dal Dipartimento di Sanità Pubblica e Malattie Infettive dell'Università degli Studi
          "La Sapienza" di Roma, in collaborazione con L'Istituto nazionale per le malattie infettive "Lazzaro
          Spallanzani" di Roma.</p>
        <!--Contatti-->
        <p><i class="fa fa-location-arrow"></i> Via Portuense, 292, 00149 Roma RM </p>
        <p><i class="fa fa-phone"></i> +39 06 551701 </p>
        <p><i class="fa fa fa-envelope"></i> <a href="mailto:inmi@pec.inmi.it"> inmi@pec.inmi.it</a> </p>
 
 
      </div>
 
 
      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Link utili</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="https://dspmi.uniroma1.it/">Dipartimento di Sanità Pubblica e Malattie Infettive - UniRoma 1</a>
          </li>
          <li><a href="https://www.inmi.it/">INMI Lazzaro Spallanzani
              Istituto Nazionale Malattie Infettive</a></li>
          <li><a href="http://www.salute.gov.it/nuovocoronavirus">Ministero della Salute - Nuovo CoronaVirus-19</a></li>
          <li><a
              href="http://www.salute.gov.it/portale/nuovocoronavirus/dettaglioFaqNuovoCoronavirus.jsp?id=228&lingua=italiano">Che
              cos'è il nuovo coronavirus</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>
 
 
      <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Ultima notizia inerente il Covid-19</h5>
        <!--headin5_amrc ends here-->
 
        <ul class="footer_ul2_amrc">
          <li><a href="https://twitter.com/repubblica/status/1364667676124090368?ref_src=twsrc%5Etfw"><i
                class="fab fa-twitter fleft padding-right"></i></a></li>
          <blockquote class="twitter-tweet" data-dnt="true" data-theme="dark">
            <p lang="it" dir="ltr">Coronavirus, inchiesta mascherine: un arresto e misure interdittive per Mario Benotti
              e altri tre: L&#39;accusa è quella di traffico di influenze illecite in concorso aggravato dal reato
              transnazionale. Le indagini riguardano affidamenti per 1,25 miliardi di… <a
                href="https://t.co/LAmuXOD6N1">https://t.co/LAmuXOD6N1</a></p>&mdash; <p id="white-tweet">Repubblica
              (@repubblica)</p> <a
              href="https://twitter.com/repubblica/status/1364667676124090368?ref_src=twsrc%5Etfw">February 24, 2021</a>
          </blockquote>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </ul>
      </div>
    </div>
    <br>
    <p id="font-8pt">Credits: <br>Footer: <a href="https://dspmi.uniroma1.it/">Dipartimento di Sanità Pubblica e Malattie Infettive
        dell'Università degli Studi "La Sapienza" - Roma</a> |
      <a href="https://www.inmi.it/">INMI Lazzaro Spallanzani Istituto Nazionale Malattie Infettive</a> |
      <a href="http://www.salute.gov.it/nuovocoronavirus">Ministero della Salute - Nuovo CoronaVirus-19</a> |
      <a
        href="http://www.salute.gov.it/portale/nuovocoronavirus/dettaglioFaqNuovoCoronavirus.jsp?id=228&lingua=italiano">Ministero
        della Salute - Che cos'è il nuovo coronavirus</a> |
        <a href="https://t.co/LAmuXOD6N1">Twitter - La Repubblica</a>
  </div>
 
  <div class="container">
    <!--foote_bottom_ul_amrc ends here-->
    <br>
    <p class="text-center">Footer by Gabriel Rocca @2021</p>
  </div>
 
</footer>