<app-header></app-header>

<div class="container p-5">
    <h3 class="text-center">Registra qui il tuo punto di intenteresse</h3>
    <div class="form-group row">
        <label for="ricerca" class="col-sm-2 col-form-label">Ricerca Nazione</label>
        <div class="input-group rounded col-sm-10">
            <input type="search" class="form-control " name="country" [(ngModel)]="name" (ngModelChange)="Search()"
                placeholder="Ricerca e seleziona la tua Nazione " aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </div>
    <form class="pt-5" (ngSubmit)="onSubmit(form)" #form="ngForm"  >
        <div class="table-responsive-md">
        <table class="table table-hover text-center" *ngIf="showResult">
            <thead class="thead">
                <tr>
                    <th id="cornertl" scope="col">Country</th>
                    <th scope="col">Code</th>
                    <th scope="col">Latitudine</th>
                    <th id="cornertr" scope="col">Longitudine</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" *ngFor="let entry of searchCountry ; index as i"  (click)="copiaLat(i)" >
                    <th class="linea" scope="row"> {{entry.name}}</th>
                    <th class="linea" scope="row"> {{entry.alpha2Code}}</th>
                    <td>{{entry.latlng[0]}}</td>
                    <td>{{entry.latlng[1]}}</td>
                </tr>
            </tbody>
            
        </table>
    </div>
        <br>
        <div class="form-group row">
            <label for="latitudine" class="col-sm-2 col-form-label">Latitudine</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="latitudine" required [(ngModel)]="latitudine" name="latitudine" max="90"
                    min="-90">
            </div>
        </div>
        <div class="form-group row">
            <label for="longitudine" class="col-sm-2 col-form-label">Longitudine</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="longitudine" required number [(ngModel)]="longitudine" name="longitudine"
                    max="180" min="-180">
            </div>
        </div>
        <div class="form-group row">
            <label for="nomePoi" class="col-sm-2 col-form-label">Nome POI</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nomePoi" required number ngModel name="nomePoi">
            </div>
        </div>
        <div class="form-group row">
            <label for="tipoPoi" class="col-sm-2 col-form-label">Tipo POI</label>
            <div class="col-sm-10">
                <select class="form-control" id="tipoPoi" ngModel required name="tipoPoi">
                    <option *ngFor="let tipo of tipoPoi"> {{tipo}} </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="ingresso" class="col-sm-2 col-form-label">Ingresso</label>
            <div class="col-sm-10">
                <select class="form-control" id="ingresso" ngModel required name="ingresso">
                    <option *ngFor="let entry of ingresso"> {{entry}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="valutazione" class="col-sm-2 col-form-label">Valutazione</label>
            <div class="col-sm-10">
                <select class="form-control" id="valutazione" ngModel required name="valutazione">
                    <option *ngFor="let valutation of valutazione"> {{valutation}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <button  type="submit" [disabled]="!form.valid" class="btn btn-outline-success mr-5 left">Aggiungi</button>
            <button class="btn btn-outline-info mr-5 left" [routerLink]="['/dashboard']">Torna alla dashboard</button>
        </div>
    </form>
</div>