.link{
font-family: sans-serif;
font-size: small;
}

.pointer{
    cursor: pointer;
}




.thead{
    background-color:orange;
    color: white;
}

#cornertl{
    border-top-left-radius: 5px;
    border-top: none;
}

#cornertr{
    border-top-right-radius: 5px;
    border-top: none;
}

.table-hover:hover{
    color: #dfdfdf;
}

th{
    border-top: none;
}

tbody{
    border: 1px solid lightgray;
}

.linea{
    border-top: 1px  solid #dee2e6;
}

.spazio{
    margin-right: 1%;
}
